@import "../../app.scss";

.services{
  background: linear-gradient(180deg, #0c0c1d, #111132);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    
    @include tablet {
        height: auto;
        padding-top: 0;
    }

    @include mobile {
        height: auto;
        padding-top: 0;
    }

    @media screen and (min-width: 769px) and (max-width:1170px) {
        margin-left: 3rem;
    }


    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 5rem;

        @include tablet {
            gap: 1rem;
            margin-right: 2rem;
        }

        @include mobile {
            gap: 1rem;
            margin-right: 1rem;
        }

        @media screen and (min-width:769px) and (max-width: 1170px) {
          margin-right: 3em;
        }
        

        p {
            font-weight: 200;
            font-size: 1.5rem;
            color: gray;
            text-align: right;
            font-family: 'Roboto', sans-serif;
            text-wrap: balance;
            text-align: justify; hyphens: auto;

             @include tablet {
                font-size: 1rem;
                padding-top: 0.7rem;
            }

            @include mobile {
                font-size: 0.8rem;
                padding-top: 0.5rem;
            }

            @media screen and (min-width:769px) and (max-width: 1170px) {
                font-size: 1rem;
            }

            

        }

        
    }

    .titleContainer {

        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 2;
        line-height: 6rem;
        

         @include tablet {
                margin-top: 1.5rem;
            }

             @include mobile{
                margin-top: 1.5rem;
                line-height: 1rem;
            }

            @media screen and (min-width:769px) and (max-width: 1170px) {
                padding-bottom: 3rem;
            }

        .title{

            display: flex;
            align-items: center;
            gap: 4rem;

            @include mobile{
                gap: 1rem;
            }

            @include tablet{
                gap: 2rem;
                line-height: 2rem;
            }

            @media screen and (min-width:769px) and (max-width: 1170px) {
                gap: .5rem;
            }


            img{
                width: 17rem;
                height: 5rem;
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    width: 8rem;
                    height: 3rem;
                }

                @include tablet {
                    width: 11rem;
                    height: 3.5rem;
                }
                
                @media screen and (min-width:769px) and (max-width: 1170px) {
                    width: 13rem;
                    height: 4rem;
                }
            }

            h1 {
                font-size: 3rem;
                font-weight: lighter;

                @include mobile {
                    font-size: 1rem;
                }

                @include tablet {
                    font-size: 1rem;
                }

                @media screen and (min-width:769px) and (max-width: 1170px) {
                    font-size: 2rem;
                }
            }
        }
    }

    .listContainer{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 2rem;
        padding: 0 1rem 0 0rem;
        flex-wrap: wrap;
         margin-top: 2rem;
         gap: 20px;
        

        @include mobile {
             margin: 2rem auto;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            padding: 0;
            
        }

         @include tablet {
            margin: 2rem auto;
            max-width: 40rem;
            gap: 2rem;
            flex-wrap: wrap;
             padding: 0;
         }

        @media screen and (min-width:769px) and (max-width: 1170px) {
            margin: 2rem auto;
          max-width: 100vw;
          gap: 1rem;
          flex-wrap: wrap;

        }

        .box {
          
            padding: 0 1rem;
            border: .5px solid gray;
            display: flex;
            flex-direction: column;
             gap: 2rem;
             height: 22rem;
             width: 20%;
            border-radius: 1rem;

      

            &:hover {
                transform: scale(0.95);
            }

           
            .serviceTitle {
                font-size: 1.4rem;
                // text-align: left;

                 @include tablet {
                    font-size: 1.2rem;
                    
                }

                @include mobile {
                    font-size: 1.1rem;
                }
            }

            

            p {
                font-size: 1.2rem;
                text-wrap: balance;
                line-height: 2rem;
                color: rgb(179, 178, 178);

                @include tablet {
                    font-size: 1rem;
                    line-height: 1rem;
                }

                @include mobile {
                    font-size: 1rem;
                     line-height: 1.5rem;
                }
            }

             @include mobile {
              border: .5px solid gray;
              border-radius: 10px;
              width: 80%;
              margin: auto;
             height: 10rem;
             gap: .5rem;

                &:hover {
               transform: none;
               }
             }

             @include tablet {
               border: .5px solid gray;
               border-radius: 10px;
               width: 85%;
               height: 10rem;
              margin: auto;
                gap: 1rem;

                 &:hover {
                transform: none;
             }
             }

             @media screen and (min-width:500px) and (max-width: 560px) {
                width: 66%;
                height: 10rem;
                gap: .5rem;
            }

             @media screen and (min-width:769px) and (max-width: 1016px) {
                height: 23rem;
                width: 50%;
                border-radius: 10px;
           }

            @media screen and (min-width:1017px) and (max-width: 1170px) {
                height: 20rem;
                width: 30%;
                border-radius: 10px;
            }
        }
    }
}
