.projects{
  position: relative;
  .progress{
    position: sticky;
    top: 0;
    left:0;
    padding-top: 50px;
    text-align: center;
    color: #4db5ff;
    font-size: 20px;

    .progressBar{
      height: 10px;
      // background-color: white;
    }
    
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .wrapper{
      max-width:1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .imageContainer{
        flex: 1;
        height: 50%;
        max-width: 50%;
    img{
      
      width:100%;
      height: 100%;
      // object-fit: cover;
      border-radius: 10px;
    }
    }
    .textContainer{
      flex:  1;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h2{
        font-size: 52px;
      }
      p{
        color:#bce0fb;
        font-family: 1.2rem;
        line-height: 1.3rem;
        letter-spacing: 1px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;

      }
      .stacks{
        color: #0972c0;
          letter-spacing: 2px;
          font-size: 1.2rem;
          line-height: 1.3rem;
      }
      .links{
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
        padding: 0;

        .link {
          display: flex;
          gap: 10px;
          font-size: 1rem;
          align-items: center;
          cursor: pointer;
          z-index: 1000;
                
          &:hover {
            transform: scale(1.1);
          }
          span{
            color: #e1f0fd;
          }
        }
    }
  }
} 
}
}