@import "../../app.scss";
.contact{
  height:100%;
  max-width:1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-evenly;

  @include tablet {
    max-width: 100%;
    margin: 1rem 0 0 0;
    flex-direction: column;
    height: auto;
    padding-left: 0;
}

@include mobile {
    max-width: 100%;
    margin: 3rem 0 0 0;
    flex-direction: column;
    height: auto;
    padding-left: 0;
    gap: .5rem;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
    margin-left: 5rem;
}
  .textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include tablet {
      gap: 1rem;
      align-items: center;
  }

  @include mobile {
      gap: 1rem;
      align-items: center;
  }


    h1{
      font-size: 70px;

      @include tablet {
        font-size: 60px;
        
        margin-bottom: 1.5rem;
    }

    @include mobile {
        font-size: 50px;
        line-height: 0;
        margin-bottom: 1rem;
    }

    @media screen and (min-width: 769px) and (max-width: 1170px) {
        font-size: 3.5rem;
        
    }
         
    }
   
    span{
      font-weight: 300;
      color: #4dcde4;
    }
  }

  .formContainer{
    flex: 1;
    position: relative;

    .phoneSvg{
      // background-color: #4dcde4;
      position: absolute;
      margin: auto;
      stroke:#3fabf1;

    }
    form{
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    input, textarea{
      padding: .8rem 1rem;
      background-color: transparent;
      border: 1px solid #4dcde4;
      border-radius: 4px;
      color: #fff;
      font-size: 1.5rem;
    }
    button {
      padding: .7rem;
      border: none;
      color: #061829;
      background-color: #3fabf1;
      font-size: 1.2rem;
      font-weight: 600;
      width: 80%;
      margin: auto;
      cursor: pointer;
      border-radius: 5px;
  }
}
}
}