.contact{
  height:100%;
  max-width:1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;


  .textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1{
      font-size: 70px;
         
    }
   
    span{
      font-weight: 300;
      color: #4dcde4;
    }
  }

  .formContainer{
    flex: 1;
    position: relative;

    .phoneSvg{
      // background-color: #4dcde4;
      position: absolute;
      margin: auto;
      stroke:#3fabf1;

    }
    form{
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    input, textarea{
      padding: .8rem 1rem;
      background-color: transparent;
      border: 1px solid #4dcde4;
      border-radius: 4px;
      color: #fff;
      font-size: 1.5rem;
    }
    button {
      padding: .7rem;
      border: none;
      color: #061829;
      background-color: #3fabf1;
      font-size: 1.2rem;
      font-weight: 600;
      width: 80%;
      margin: auto;
      cursor: pointer;
      border-radius: 5px;
  }
}
}
}