@import "../app.scss";

.navbar{
  height:100px;
  background-color:  #0c0c1d;
  position: relative; 
  

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile{
      justify-content: flex-end;
      padding: 20px;
    }
    

    .logo{
      width: 100px;
      height: 80px;
      margin-top: 20px;
      border-radius: 10px;
      margin-left: 50px;

      @include mobile{
        display: none;
      }
     
    }
    .socials{
      display:flex;
      gap: 10px;

      .fa, .bs{
        width: 20px;
        height: 17px;
        border-radius: 2px;
            
      }
    }
  }
}

